.container {
  border: '1px solid black';
  padding: '1rem';
  border-radius: '1rem';
  width: '24rem';
  height: '15rem';
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
  gap: '1rem';
  justify-content: 'center';
}
