.paper {
  border-radius: 1rem;
}

.table-container {
  max-height: 35rem;
}

.table {
  border-radius: 1rem;
}

.table-head-row {
  background-color: '#F5F5F5';
}

.head-cell {
  background-color: inherit;
}
